[Desktop Entry]
Encoding=UTF-8
Name=Lien vers DiscreteWorld-coopPathFinding.py
Type=Link
URL=https://github.com/paulolvsq/IARO/blob/master/DiscreteWorld-coopPathFinding.py
Icon=text-html
